<template>
    <div class="view-page">
        <div class="row">
            <div class="col-md-12">

            </div>
        </div>
    </div>
</template>

<script>
    import {SET_BREADCRUMB} from "@/core/services/store/breadcrumbs.module";

    export default {
        props: {
            message: Array,
        },
        mounted() {
            this.$store.dispatch(SET_BREADCRUMB, this.getBreadCrumb(this));
        },
    };
</script>
