<template>
    <ul class="menu-nav">
        <li class="menu-section">
            <h4 class="menu-text">Menu</h4>
            <i class="menu-icon flaticon-more-v2"></i>
        </li>

        <router-link
            to="/"
            v-slot="{ href, navigate, isActive, isExactActive }"
        >
            <li
                aria-haspopup="true"
                data-menu-toggle="hover"
                class="menu-item"
                :class="[
          isActive && 'menu-item-active',
          isExactActive && 'menu-item-active'
        ]"
            >
                <a :href="href" class="menu-link" @click="navigate">
                    <i class="menu-icon flaticon2-architecture-and-city"></i>
                    <span class="menu-text">Home</span>
                </a>
            </li>
        </router-link>

        <li
            aria-haspopup="true"
            data-menu-toggle="hover"
            class="menu-item menu-item-submenu"
            v-bind:class="{ 'menu-item-open': hasActiveChildren('/master') }">
            <a href="#" class="menu-link menu-toggle">
                <i class="menu-icon flaticon2-digital-marketing"></i>
                <span class="menu-text">Master</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="menu-submenu">
                <span class="menu-arrow"></span>
                <ul class="menu-subnav">
                    <li aria-haspopup="true" class="menu-item menu-item-parent">
            <span class="menu-link">
              <span class="menu-text">Master</span>
            </span>
                    </li>
                    <router-link
                        to="/master/mekanik/detail"
                        v-slot="{ href, navigate, isActive, isExactActive }"
                    >
                        <li
                            aria-haspopup="true"
                            data-menu-toggle="hover"
                            class="menu-item"
                            :class="[
                isActive && 'menu-item-active',
                isExactActive && 'menu-item-active'
              ]"
                        >
                            <a :href="href" class="menu-link" @click="navigate">
                                <i class="menu-bullet menu-bullet-dot">
                                    <span></span>
                                </i>
                                <span class="menu-text">Mekanik Detail</span>
                            </a>
                        </li>
                    </router-link>
                    <router-link
                        to="/master/mekanik/list"
                        v-slot="{ href, navigate, isActive, isExactActive }"
                    >
                        <li
                            aria-haspopup="true"
                            data-menu-toggle="hover"
                            class="menu-item"
                            :class="[
                isActive && 'menu-item-active',
                isExactActive && 'menu-item-active'
              ]"
                        >
                            <a :href="href" class="menu-link" @click="navigate">
                                <i class="menu-bullet menu-bullet-dot">
                                    <span></span>
                                </i>
                                <span class="menu-text">Mekanik List</span>
                            </a>
                        </li>
                    </router-link>
                </ul>
            </div>
        </li>
    </ul>
</template>

<script>
    export default {
        name: "KTMenu",
        methods: {
            hasActiveChildren(match) {
                return this.$route["path"].indexOf(match) !== -1;
            }
        }
    };
</script>
