.vue-notification-group {
    width: 300px !important;
    top: 10px !important;;
    right: 10px !important;;
}

.vue-notification {
    padding: 10px;
    margin: 0 5px 5px;

    font-size: 12px;

    color: #ffffff;
    background: #44A4FC;
    border-left: 5px solid #187FE7;

    &.warn {
        background: #ffb648;
        border-left-color: #f48a06;
    }

    &.error {
        background: #E54D42;
        border-left-color: #B82E24;
    }

    &.success {
        background: #68CD86;
        border-left-color: #42A85F;
    }
}

@media (max-width: 1024px) {
    .view-page {
        padding-top: 15px;
    }
}

.container {
    padding: 0 10px;
}

.card-body {
    padding: 1.5rem 2rem
}

.card-header {
    padding: 1.5rem 2rem
}

.card-footer {
    padding: 1.5rem 2rem
}

// GRID CUSTOM
div.k-grid th {
    color: black !important;
}

.k-grid {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    line-height: normal;
}

.k-grid .k-grid-header th.k-header:not([data-title="Action"]) {
    background-color: transparent;
    color: #0c0c10 !important;
    min-height: 10px !important;
    padding: 10px;
    font-weight: 600;
    font-size: 14px;
}

.k-grid .k-grid-header th.k-header[data-title="Action"] {
    background-color: #313131;
    color: #fff !important;
    min-height: 10px !important;
    padding: 10px;
    font-weight: 600;
    font-size: 15px;
    text-align: center;
}

.k-grid .k-grouping-header .k-group-indicator {
    background-color: #007bff;
    color: #fff !important;
    font-weight: 600;
    font-size: 14px;
}

.k-grid .k-grid-content td[role="gridcell"] {
    padding: 0 11px;
    color: #000;
    font-weight: 400;
    font-size: 12px;
}

.k-grid .k-grid-content td[role="gridcell"] a:not(.btn) {
    color: blue;
}

.k-grid .k-grid-content td[role="gridcell"] a.btn {
    color: white;
    padding: 3px;
    margin: auto;
}

tr.k-grouping-row td {
    color: #000;
    background-color: #f8f9fa;
    font-weight: 600;
    font-size: 12px;
}

tr.k-group-footer td {
    color: #000;
    background-color: #f8f9fa;
    font-weight: 600;
    font-size: 12px;
}

tr.k-footer-template td {
    color: #000;
    background-color: #e5eaee;
    font-weight: 800;
    font-size: 12px;
}

div.k-grid-norecords {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
}
