<template>
    <div class="view-page">
        <div class="row">
            <div class="col-md-12">
                <GridWrapper v-bind:grid-name="'nama'" v-bind:table="table"></GridWrapper>
            </div>
        </div>
    </div>
</template>

<script>
    import Alert from "@/view/content/Alert";
    import {SET_BREADCRUMB} from "@/core/services/store/breadcrumbs.module";
    import {LOAD_LIST} from "@/core/services/store/admin/master.mekanik.module";
    import {SHOW_ALERT} from "@/core/services/store/alert.module";
    import {mapState} from "vuex";
    import GridWrapper from "@/view/content/GridWrapper";

    export default {
        components: {GridWrapper, Alert},
        data() {
            return {

            }
        },
        computed: {
            ...mapState({
                table: state => state.masterMekanik.table,
                errors: state => state.masterMekanik.errors,
            }),
        },
        mounted() {
            this.$store.dispatch(SET_BREADCRUMB, this.getBreadCrumb(this));
            this.$store.dispatch(LOAD_LIST).catch((response) => {
                this.$store.dispatch(SHOW_ALERT, {
                    type: "alert-danger",
                    list: [response.errors],
                });
            });
        },
    };
</script>

