<template>
    <div class="view-page">
        <div class="row">
            <div class="col-md-12">
                <validation-observer ref="observer" v-slot="{ handleSubmit }">
                    <Alert></Alert>
                    <b-form @submit.stop.prevent="handleSubmit(onSubmit)">
                        <b-card-group deck>
                            <b-card header-tag="header" footer-tag="footer">
                                <template v-slot:header>
                                    <h4 class="mb-0">Mekanik</h4>
                                </template>
                                <validation-provider
                                    name="Kode"
                                    :rules="{ required: true, min: 3 }"
                                    v-slot="validationContext"
                                >
                                    <b-form-group label="Kode:">
                                        <b-form-input
                                            name="kode"
                                            v-model="form.kode"
                                            :disabled="loading"
                                            :state="onValidate(validationContext)"
                                            aria-describedby="input-1-live-feedback"
                                        ></b-form-input>

                                        <b-form-invalid-feedback id="input-1-live-feedback">{{
                                            validationContext.errors[0] }}
                                        </b-form-invalid-feedback>
                                    </b-form-group>
                                </validation-provider>

                                <validation-provider
                                    name="Nama"
                                    :rules="{ required: true, min: 3 }"
                                    v-slot="validationContext"
                                >
                                    <b-form-group label="Nama:">
                                        <b-form-input
                                            name="nama"
                                            v-model="form.nama"
                                            :disabled="loading"
                                            :state="onValidate(validationContext)"
                                            aria-describedby="input-1-live-feedback"
                                        ></b-form-input>

                                        <b-form-invalid-feedback id="input-1-live-feedback">{{
                                            validationContext.errors[0] }}
                                        </b-form-invalid-feedback>
                                    </b-form-group>
                                </validation-provider>
                                <template v-slot:footer>
                                    <b-button
                                        ref="submit"
                                        type="submit"
                                        variant="primary"
                                        :disabled="loading"
                                    >
                                        Submit
                                    </b-button>
                                    <b-button
                                        class="ml-2"
                                        @click="onReset()"
                                        :disabled="loading"
                                    >
                                        Cancel
                                    </b-button>
                                </template>
                            </b-card>
                        </b-card-group>
                    </b-form>
                </validation-observer>
            </div>
        </div>
    </div>
</template>

<script>
    import {SET_BREADCRUMB} from "@/core/services/store/breadcrumbs.module";
    import {LOAD_DATA, RESET, SUBMIT} from "@/core/services/store/admin/master.mekanik.module";
    import {mapGetters, mapState} from "vuex";
    import Alert from "@/view/content/Alert";
    import {RouteMekanikList} from "@/router";
    import {HIDE_ALERT, SHOW_ALERT} from "@/core/services/store/alert.module";

    export default {
        data() {
            return {
                loading: true,
                form: {
                    id: null,
                    kode: null,
                    nama: null,
                },
            };
        },
        components: {Alert},
        props: {
            id: {type: String, required: false},
        },
        mounted() {
            this.$store.dispatch(SET_BREADCRUMB, this.getBreadCrumb(this));
            this.onReset();
        },
        computed: {
            ...mapState({
                data: state => state.masterMekanik.data,
                errors: state => state.masterMekanik.errors,
            }),
        },
        methods: {
            onValidate({dirty, validated, valid = null}) {
                return dirty || validated ? valid : null;
            },
            onReset() {
                this.$store.dispatch(RESET);
                this.$store.dispatch(HIDE_ALERT);
            },
            onLoadData() {
                this.$store.dispatch(LOAD_DATA, this.$props).then((response) => {
                }).catch((response) => {
                    this.$notify({
                        group: 'default',
                        type: 'warn',
                        title: 'Invalid Load',
                        text: response.message
                    });
                    this.$router.replace({name: RouteMekanikList});
                });
            },
            onSubmit() {
                this.loading = true;
                this.$store.dispatch(SUBMIT, this.form).then((response) => {
                    this.$notify({
                        group: 'default',
                        title: 'Save Success',
                        text: response.message
                    });
                    this.$router.replace({name: RouteMekanikList});
                }).catch((response) => {
                    this.loading = false;
                    this.$store.dispatch(SHOW_ALERT, {
                        type: "alert-danger",
                        list: [response.errors],
                    });
                });
            },
        },
        watch: {
            id: {
                immediate: true,
                handler(val, oldVal) {
                    console.log('watchId', val);
                    if (val) {
                        this.onLoadData();
                    }
                }
            },
            data: {
                immediate: true,
                handler(val, oldVal) {
                    console.log('watchData', val);
                    if (val) {
                        this.form = val;
                    }
                    this.loading = false;
                }
            }
        },
    };
</script>
