<template>
    <PrintWrapper v-bind:print="this.data" v-bind:is-designer="this.isDesigner"></PrintWrapper>
</template>

<script>
    import {LOAD_DESIGN, SAVE_DESIGN} from "@/core/services/store/olap/print.module";
    import Alert from "@/view/content/Alert";
    import PrintWrapper from "@/view/content/PrintWrapper";
    import {mapState} from "vuex";
    import {SHOW_ALERT} from "@/core/services/store/alert.module";
    import {RouteHome, RouteMekanikList} from "@/router";

    export default {
        name: "PrintDesigner",
        components: {PrintWrapper, Alert},
        data() {
            return {};
        },
        computed: {
            ...mapState({
                data: state => state.print.data,
                errors: state => state.print.errors,
            }),
        },
        props: {
            print: {type: String, required: true},
            id: {type: String, required: true},
            hid: {type: String, required: false},
            isDesigner: {type: Boolean, required: false, default: false},
        },
        mounted: function () {
            console.log(this.$props);
            this.$store.dispatch(LOAD_DESIGN, this.$props).then((data) => {
                // console.log('load_design', data);
            }).catch((response) => {
                this.$notify({
                    group: 'default',
                    type: 'warn',
                    title: 'Invalid Load',
                    text: response.message
                });
                this.$router.replace({name: RouteHome});
            });
        },
        methods: {}
    }
</script>
