<template>
    <div
        v-if="alert.list && alert.list.length || [] >0"
        v-bind:class="alert.type"
        role="alert"
        class="alert fade alert-dismissible show"
    >
        <button v-on:click="dismiss" type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <div class="alert-text" v-for="(text, i) in alert.list" :key="i">
            {{ text }}
        </div>
    </div>
</template>

<script>
    import {HIDE_ALERT} from "@/core/services/store/alert.module";

    export default {
        name: "Alert",
        components: {},
        computed: {
            alert() {
                return this.$store.getters.alert;
            }
        },
        beforeDestroy() {
            this.dismiss();
        },
        methods: {
            dismiss() {
                this.$store.dispatch(HIDE_ALERT);
            }
        }
    };
</script>
