<template>
    <validation-observer ref="observer" v-slot="{ handleSubmit }">
        <Alert></Alert>
        <b-form @submit.stop.prevent="handleSubmit(onSubmit)">
            <b-card-group deck>
                <b-card header-tag="header" footer-tag="footer">
                    <template v-slot:header>
                        <h4 class="mb-0">Mekanik</h4>
                    </template>
                    <validation-provider
                        name="Kode"
                        :rules="{ required: true, min: 3 }"
                        v-slot="validationContext"
                    >
                        <b-form-group label="Kode:">
                            <b-form-input
                                name="kode"
                                v-model="form.kode"
                                :disabled="loading"
                                :state="onValidate(validationContext)"
                                aria-describedby="input-1-live-feedback"
                            ></b-form-input>

                            <b-form-invalid-feedback id="input-1-live-feedback">{{
                                validationContext.errors[0] }}
                            </b-form-invalid-feedback>
                        </b-form-group>
                    </validation-provider>

                    <validation-provider
                        name="Nama"
                        :rules="{ required: true, min: 3 }"
                        v-slot="validationContext"
                    >
                        <b-form-group label="Nama:">
                            <b-form-input
                                name="nama"
                                v-model="form.nama"
                                :disabled="loading"
                                :state="onValidate(validationContext)"
                                aria-describedby="input-1-live-feedback"
                            ></b-form-input>

                            <b-form-invalid-feedback id="input-1-live-feedback">{{
                                validationContext.errors[0] }}
                            </b-form-invalid-feedback>
                        </b-form-group>
                    </validation-provider>
                    <template v-slot:footer>
                        <b-button
                            ref="submit"
                            type="submit"
                            variant="primary"
                            :disabled="loading"
                        >
                            Submit
                        </b-button>
                        <b-button
                            class="ml-2"
                            @click="onReset()"
                            :disabled="loading"
                        >
                            Cancel
                        </b-button>
                    </template>
                </b-card>
            </b-card-group>
        </b-form>
    </validation-observer>
</template>

<script>
    import {RESET} from "@/core/services/store/admin/master.mekanik.module";
    import {HIDE_ALERT} from "@/core/services/store/alert.module";

    export default {
        name: "FormWrapper",
        data: function () {
            return {};
        },
        props: {
            form: Object,
        },
        beforeDestroy: function () {
            this.saveState();
        },
        methods: {
            onValidate({dirty, validated, valid = null}) {
                return dirty || validated ? valid : null;
            },
            onReset() {
                this.$store.dispatch(RESET);
                this.$store.dispatch(HIDE_ALERT);
            },
        },
        watch: {
            id: {
                immediate: true,
                handler(val, oldVal) {
                    console.log('watchId', val);
                    if (val) {
                        this.onLoadData();
                    }
                }
            },
            form: {
                immediate: true,
                handler(val, oldVal) {
                    console.log('watchForm', val);
                    if (val) {
                        this.form = val;
                    }
                    this.loading = false;
                }
            }
        },
    };
</script>
