<template>
    <Grid ref="grid"
          :style="{height: '100%'}"
          :data-items="rows"
          :columns="columns"
          :resizable="resizable"
          :reorderable="reorderable"
          :sortable="sortable"
          :groupable="groupable"
          :group="group"
          :column-menu="columnMenu"
          :filter="filter"
          :sort="sort"
          :take="take"
          :skip="skip"
          :cell-render="cellRender"
          @datastatechange="dataStateChange"
          @expandchange="expandChange"
          @sortchange="sortChangeHandler"
          @filterchange="filterChange"
          @columnreorder="columnReorder">
        <!--        :expand-field="'expanded'"-->
        <!--        :header-cell-render="headerCellHandler"-->
        <!--        :cell-render="cellRender"-->
        <!--        @custom="customHandler"-->
        <!--        :row-render="rowRender"-->
        <GridToolbar>
            <button
                title="Export to Excel"
                class="k-button k-primary"
                @click="exportExcel"
            >
                Export to Excel
            </button>&nbsp;
            <button
                title="Export to Excel"
                class="k-button k-primary"
                @click="saveState"
            >
                Save State
            </button>&nbsp;
            <button
                title="Export to Excel"
                class="k-button k-primary"
                @click="loadState"
            >
                Load State
            </button>&nbsp;
        </GridToolbar>
    </Grid>
</template>

<script>
    import {process} from "@progress/kendo-data-query";
    import Vue from "vue";
    import {saveExcel} from "@progress/kendo-vue-excel-export";

    export default {
        name: "GridContainer",
        data: function () {
            return {
                currentLocale: null,
                sortable: true,
                filterable: true,
                resizable: true,
                groupable: {footer: 'visible'},
                reorderable: true,
                columnMenu: true,
                rowData: [],
                columns: [{}],
                rows: [],
                take: 0,
                skip: 0,
                group: [],
                expandedItems: [],
                sort: [],
                filter: {
                    logic: 'and',
                    filters: [],
                }
            };
        },
        props: {
            table: Object,
            gridName: String
        },
        created: function () {
            window.addEventListener('beforeunload', this.saveState);
        },
        beforeDestroy: function () {
            this.saveState();
        },
        methods: {
            setData: function (table) {
                this.columns = table.columnDefs;
                this.rowData = table.rowData;
                this.loadState();
            },
            getData: function () {
                this.rows = process(this.rowData, {
                    group: this.group,
                    filter: this.filter,
                    sort: this.sort
                });
            },
            loadState: function () {
                const gridString = localStorage[this.gridName];
                if (gridString) {
                    const gridProps = JSON.parse(gridString);
                    this.createAppState(gridProps);
                } else {
                    this.createAppState(this.$data);
                }
            },
            saveState: function () {
                const grid = this.$refs.grid.$props;
                localStorage[this.gridName] = JSON.stringify(grid);
            },
            createAppState: function (dataState) {
                if (dataState.group) {
                    dataState.group.map(group => group.aggregates = this.aggregates);
                }
                this.group = dataState.group;
                this.filter = dataState.filter;
                this.sort = dataState.sort;
                this.getData();
            },
            dataStateChange: function (event) {
                console.log(event);
                this.createAppState(event.data);
            },
            expandChange: function (event) {
                console.log(event);
                Vue.set(event.dataItem, event.target.$props.expandField, event.value);
            },
            sortChangeHandler(e) {
                this.sort = e.sort;
            },
            filterChange(ev) {
                this.filter = ev.filter;
            },
            columnReorder(options) {
                this.columns = options.columns;
            },
            exportExcel() {
                saveExcel({
                    data: this.rowData,
                    fileName: this.gridName,
                    columns: this.columns
                });
            },
            customHandler: function (e) {
                console.log('customHandler', e);
            },
            rowRender: function (h, trElement, defaultSlots, props) {
                // console.log('rowRender', trElement);
                var defaultClass = props.isAltRow ? 'k-master-row k-alt' : 'k-master-row'
                return h('tr', {
                    class: [defaultClass, 'custom']
                }, defaultSlots);
            },
            cellRender: function (h, tdElement, props, listeners) {
                let text = props.dataItem[props.field];
                // let columns = this.columns;
                // console.log('props', props);
                // console.log('columns', columns);
                // let template;
                // columns.map(function (value, key) {
                //     if (value.field === props.field) {
                //         return template = value;
                //     }
                // });
                // let router = this.$router;
                // let a = h('a', {
                //     class: "btn btn-sm btn-clean btn-icon btn-icon-md btn-action",
                //     on: {
                //         click: function (e) {
                //             router.push({name: RouteMekanikDetail});
                //         }
                //     }
                // }, [text]);
                let td = h('td', {}, [text]);
                return td;
            },
            headerCellHandler: function (h, tdElement, props, listeners) {
                return h('span', {
                    on: {
                        click: function (e) {
                            listeners.custom(e);
                        }
                    }
                }, ['custom ' + props.title]);
            }
        },
        watch: {
            table: {
                immediate: true,
                handler(val, oldVal) {
                    if (val.rowData) {
                        this.setData(val);
                    }
                }
            }
        },
    };
</script>
<!--<a role="button" href="javascript:void(0);" data-url="http://127.0.0.1:8000/api/master/mekanik/detail" data-field-name="id"  data-type="url" class="btn btn-sm btn-clean btn-icon btn-icon-md btn-action">↵                    <i class="la la-edit"></i>↵                </a><a role="button" href="javascript:void(0);" data-url="http://127.0.0.1:8000/api/master/mekanik/del" data-field-name="id" data-title="Yakin Hapus?"data-type="dialog" class="btn btn-sm btn-clean btn-icon btn-icon-md btn-action">↵                    <i class="la la-trash"></i>↵                </a>-->
