<template>
    <div>
        <kendo-grid
            :id="gridName"
            :ref="gridName"
            :class="gridName"
            :data-source="dataSource"
            :columns="columns"
            :sortable="sortable"
            :column-menu="columnMenu"
            :groupable="groupable"
            :filterable="filterable"
            :reorderable="reorderable"
            :resizable="resizable"
            :toolbar="toolbar"
            :excel-filterable="excelFilterable"
            :excel-file-name="gridName"
            :pdf-all-pages="pdfAllPages"
            :pdf-avoid-links="pdfAvoidLinks"
            :pdf-paper-size="pdfPaperSize"
            :pdf-margin="pdfMargin"
            :pdf-landscape="pdfLandscape"
            :pdf-repeat-headers="pdfRepeatHeaders"
            :pdf-scale="pdfScale"
        >
        </kendo-grid>
        <kendo-contextmenu :target="contextTarget" :filter="contextFilter" @select="contextMenuSelect">
            <li id="contextBestFit">Best Fit</li>
            <li id="contextBestFitAll">Best Fit All</li>
            <li class="k-separator"></li>
            <li id="contextMin">Min</li>
            <li id="contextMax">Max</li>
            <li id="contextSum">Sum</li>
            <li id="contextCount">Count</li>
        </kendo-contextmenu>
    </div>
</template>

<script>
    export default {
        name: "GridWrapper",
        data: function () {
            return {
                columns: [{}],
                rowData: [],
                dataSource: {
                    data: [],
                    schema: '',
                    group: [],
                    aggregate: [],
                },
                excelFilterable: true,
                toolbar: ['excel', 'pdf'],
                currentLocale: null,
                sortable: true,
                filterable: true,
                resizable: true,
                groupable: {
                    showFooter: true,
                    footer: 'visible'
                },
                noRecords: {
                    template: "<div class='m-auto'>No records available.</div>",
                },
                reorderable: true,
                columnMenu: true,
                pdfAllPages: true,
                pdfAvoidLinks: true,
                pdfLandscape: true,
                pdfRepeatHeaders: true,
                pdfScale: 0.8,
                pdfPaperSize: 'A4',
                pdfMargin: {
                    top: '2cm',
                    left: '1cm',
                    right: '1cm',
                    bottom: '1cm'
                },
                schema: '',
                group: [],
                aggregate: [],
                contextTarget: "." + this.gridName,
                contextFilter: "td[role='gridcell'][data-field]",
            };
        },
        props: {
            table: Object,
            gridName: String
        },
        created: function () {
            window.addEventListener('beforeunload', this.saveState);
        },
        beforeDestroy: function () {
            this.saveState();
        },
        methods: {
            setData: function (table) {
                this.columns = table.columnDefs;
                this.rowData = table.rowData;
                this.aggregate = table.rowAggregate;
                this.group = table.groupDefs;
                this.loadState();
            },
            getData: function () {
                this.dataSource = {
                    data: this.rowData,
                    aggregate: this.aggregate,
                    schema: this.schema,
                    group: this.group,
                    filter: this.filter,
                    sort: this.sort,
                };
            },
            loadState: function () {
                const gridOptions = localStorage[this.gridName];
                if (gridOptions) {
                    this.createAppState(JSON.parse(gridOptions));
                } else {
                    this.createAppState(this.$data);
                }
            },
            saveState: function () {
                const gridOptions = this.$refs[this.gridName].kendoWidget().getOptions();
                localStorage[this.gridName] = JSON.stringify(gridOptions);
            },
            createAppState: function (state) {
                const dataSource = state.dataSource;
                if (this.columns.length === state.columns) {
                    this.columns = state.columns;
                    this.aggregate = dataSource.aggregate;
                }
                // this.columns = state.columns;
                // this.aggregate = dataSource.aggregate;
                this.schema = dataSource.schema;
                this.group = dataSource.group;
                this.filter = dataSource.filter;
                this.sort = dataSource.sort;
                this.getData();
            },
            autoFit: function (e) {
                const grid = this.$refs[this.gridName].kendoWidget();
                grid.columns.map(function (v, k) {
                    grid.autoFitColumn(k);
                });
            },
            contextMenuSelect: function (e) {
                const grid = this.$refs[this.gridName].kendoWidget();
                const gridOptions = grid.getOptions();
                const fieldName = e.target.dataset.field;

                if (e.item.id === 'contextBestFit') {
                    grid.autoFitColumn(fieldName);
                    return;
                }
                if (e.item.id === 'contextBestFitAll') {
                    gridOptions.columns.map(function (v, k) {
                        grid.autoFitColumn(k);
                    });
                    return;
                }

                let type;
                switch (e.item.id) {
                    case "contextMin":
                        type = 'min';
                        break;
                    case "contextMax":
                        type = 'max';
                        break;
                    case "contextSum":
                        type = 'sum';
                        break;
                    case "contextCount":
                        type = 'count';
                        break;
                }
                if (!type) {
                    return;
                }
                gridOptions.columns.map(function (v, k) {
                    var template = type.toUpperCase() + ": #: " + type + " #";
                    if (v.field === fieldName) {
                        v.footerTemplate = template;
                        v.footerAttributes = {
                            'class': "table-footer-cell",
                            'style': "text-align: left;"
                        };
                        v.groupFooterTemplate = template;
                    }
                });
                this.columns = gridOptions.columns;
                this.createAppState(gridOptions);
            }
        },
        watch: {
            table: {
                immediate: true,
                handler(val, oldVal) {
                    if (val.rowData) {
                        this.setData(val);
                    }
                }
            }
        },
    };
</script>
