<template>
    <div id="printId"></div>
</template>

<script>
    import "@stimulsoft/css/stimulsoft.viewer.office2013.whiteteal.css";
    import "@stimulsoft/css/stimulsoft.designer.office2013.lightgrayteal.css";

    let report;
    let printRender;
    export default {
        name: "PrintWrapper",
        data: function () {
            return {
                ready: false,
                rendered: false,
                error: false,
            };
        },
        props: {
            print: Object,
            isDesigner: Boolean,
        },
        mounted: function () {
            this.onLoadScript();
        },
        methods: {
            onLoadScript() {
                this.$loadScript("./js/print.js")
                    .then(() => {
                        this.onReady();
                    })
                    .catch((e) => {
                        this.onError();
                    });
            },
            onReady() {
                this.ready = true;
            },
            onError() {
                this.error = true;
            },
            getOptions() {
                let options;
                if (this.isDesigner) {
                    options = new window.Stimulsoft.Designer.StiDesignerOptions();
                    options.appearance.fullScreenMode = true;
                    options.showSendEmailButton = true;
                    options.showFileMenuAbout = false;
                    options.toolbar.showFileMenuAbout = false;
                    options.toolbar.showAboutButton = false;
                    options.toolbar.showFileMenu = false;
                    return options;
                }
                options = new window.Stimulsoft.Viewer.StiViewerOptions();
                options.toolbar.showFullScreenButton = false;
                options.toolbar.showAboutButton = false;
                options.appearance.fullScreenMode = true;
                options.toolbar.printDestination = window.Stimulsoft.Viewer.StiPrintDestination.Pdf;
                options.toolbar.viewMode = window.Stimulsoft.Viewer.StiWebViewMode.Continuous;
                return options;
            },
            onPrepared() {
                let options = this.getOptions();
                report = new window.Stimulsoft.Report.StiReport();
                if (this.isDesigner) {
                    printRender = new window.Stimulsoft.Designer.StiDesigner(options, "StiDesigner", false);
                    printRender.onSaveReport = function (e) {
                        var jsonStr = e.report.saveToJsonString();
                    }
                    return printRender;
                }
                printRender = new Stimulsoft.Viewer.StiViewer(options, "StiViewer", false);
                return printRender;
            },
            onStart() {
                this.onPrepared();
                this.setData(this.print);
            },
            setData(val) {
                if (this.rendered) return;
                if (!this.ready) return;
                const dataSet = new window.Stimulsoft.System.Data.DataSet('source');
                dataSet.readJson(val.data);

                report.load(val.designer);
                report.dictionary.databases.clear();
                report.regData("source", "source", dataSet);
                report.dictionary.synchronize();

                printRender.report = report;
                printRender.renderHtml('printId');
                this.rendered = true;
            },
        },
        watch: {
            print: {
                immediate: true,
                handler(val, oldVal) {
                    if (val.data) {
                        this.setData(val);
                    }
                }
            },
            error: {
                immediate: true,
                handler(val, oldVal) {
                    if (val) {
                        this.onLoadScript();
                    }
                },
            },
            ready: {
                immediate: true,
                handler(val, oldVal) {
                    if (val) {
                        this.onStart();
                    }
                },
            }
        },
    };
</script>
